@import "variables";

body {
  background: $bg-color;
}

.bg-inverse {
  background-color: $nav-bar;
}

.subnav {
  border-bottom: $nav-border;
}

.sidebar {
  border: $nav-border;
  padding-top: 22px;

  #sidebarbtn {
    padding-top: 3vw;
    padding-bottom: 10px;
    a {
      text-align: left;
    }
  }
  #brokerPhoto {
    max-height: 215px;
  }
}
.newrow {
  margin-top: 30px;
}
.itemheading {
  border-bottom: $nav-border;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#spec {
  p {
    border-bottom: $nav-border;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  span {
    font-weight: 600;
    width: 9vw;
  }
}
#morePhotos {
  text-align: center;
  border-bottom: $nav-border;
  padding-bottom: 10px;
  margin-bottom: 10px;
  h3 {
    text-align: left;
  }

}
.btnicon {
background-color: $btn-primarycH;
margin-left: 41px;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
border-radius: 0.3rem;
border-radius: 0 0.3rem 0.3rem 0;
}
.btnicon2 {
@extend .btnicon;
padding-left: 20px;
}
.btnicon3 {
@extend .btnicon;
background-color: transparent;
border-left: 1px solid grey;
}
.btn3 {
  font-size: 0.90rem;
  span {
    padding: 9px;
    padding-left: 3px;
    padding-right: 3px;
  }
  i {
    padding-right: 4px;
  }
}
.shareimg {
  margin-top: 10px;
}

#Similarslider {
  border-bottom: $nav-border;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#similarContent {
    border-bottom: $nav-border;
    padding-bottom: 10px;
    margin-bottom: 10px;
    h4 {
      margin: 10px;
      color: $nav-bar;
    }
    h3 {
      text-align: center;
    }
    p {
      margin: 10px;
    }
    .card-text {
      color: $p-text;
    }
    .card {
      min-height: 35vh;
    }
    span {
      margin-left: 6vw;
    }
    .card-text2 {
      span {
        margin-left: 3.5vw;
      }
    }
}
#moreProperty {
  p {
    color: $p-text;
  }
}
.btn-primary {
  background-color: $btn-primaryc;
  border-color: $btn-primaryc;
  &:hover {
    background-color: $btn-primarycH;
  }
}
footer {

  .footer-middle {
    background: $bg-footer;
    padding-top: 2em;
    color: white;
  }
  a{
    color: $footer-color;
    font-size: 0.9em;
    text-decoration: none;
  }
  .footer-bottom{
  background: $bg-footer;
  padding: 2em;
}
.footercontent {
  border-top: 2px solid $footer-color;
}
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
    float: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

 /* equal card height */
 .row-equal > div[class*='col-'] {
     display: flex;
     flex: 1 0 auto;
 }

 .row-equal .card {
    width: 100%;
 }

 /* ensure equal card height inside carousel */
 .carousel-inner>.row-equal.active,
 .carousel-inner>.row-equal.next,
 .carousel-inner>.row-equal.prev {
     display: flex;
 }

 /* prevent flicker during transition */
 .carousel-inner>.row-equal.active.left,
 .carousel-inner>.row-equal.active.right {
     opacity: 0.5;
     display: flex;
 }


 /* control image height */
 .card-img-top-250 {
     max-height: 250px;
     overflow:hidden;
 }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}
